body{
	background-color: #2b4b82;
	margin: 0;
}
.tudo{
	margin: 0 0% 0 2%;
	width: 50%;
}
.sin{
	display: flex;
	flex-direction: row; 
	margin: 7% 0 7% 0;
}
.tu{
	display: flex;
	flex-direction: row;
	margin: 0% 0;
}
.formulario{
	background-color: #f3f7f8;
	width: 50%;
}
#cara{
	display: flex;
	flex-direction: row;
	border: solid;
	border-bottom: 1px; 
	border-color: #f3f7f8;
	border-left: none;
}
img{
	height: 110%;
	width: 23%;
}
nav, h2{
	color: white;
	font-family: arial;
	font-weight: bold;
}
h2{
	font-size: 30px;
	margin-top: 2%;
	margin-bottom: 4%;
}
nav{
	font-size: 18px;
	margin-top: 5%;
}
.descri{
	margin: 0 2% 0 2%;
}
.p1{
	font-family: arial;
	font-size: 20px;
}
.p2{
	background-color: #c8c8c8; 
	font-size: 28px;
	height: 6%;
	width: 100%;
	border-radius: 6px;
	border-style: solid;
	margin: 3% 0;
}
.p3{
	background-color: #c8c8c8; 
	font-size: 22px;
	margin: 0 0 0 1%;
	border-radius: 6px;
	border-style: solid;
}
h3{
	font-family: arial;
	font-weight: bold;
	font-size: 25px;
}
#finalizar{
	background-color: #2b4b82;
	border-radius: 12px;
	margin: 3% 45% 5% 42%;
	width: 20%;
	height: 35%;
	font-size: 30px;
	border: none;
}
#finalizar:hover{
	background-color: #c69d5f;
}
#linha{
	margin: 5% 0% 0% 0%;
}
h1 {
    font-size: 60px;
    color: white;
    margin-left: 2%;
    font-family: Arial, sans-serif;
    background-color: #c69d5f;
    margin: 4% 5% 3% 3%;  /* Mantém o margin como estava */
    border: none;
    border-radius: 18px;
    padding: 10px 10px;  /* Diminui o padding horizontal pela metade */
}


/*Essa é a barra de navegação*/
.dentro, .IDF{
	float: left;
	font-family: arial;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 18px 20px;
	margin: 0px;
	text-decoration: none;

}
.cima{
	background-color: #042d64;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 60px;
	position: fixed;
	width: 100%;
}
i{
	color: white;
	text-align: center;
}
.dentro:hover{
 	background-color:#DEB887;
}
.dentro a{
	color: white;
	text-decoration: none;
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.pesqui{
	margin: 0% 1% 0% 7%;
	height:25px;
	font-size: 20px;
	width: 30%;
	background-color: white;
	border-radius: 15px;
	border-color: #DEB887;
}
.butao{
	background-color: #2b4b82;
	border-color: #DEB887;
	border-radius: 20px;
	margin-left:0px;
	margin-right: 5%;
}