body{
	background-color: #2b4b82;
	margin: 0;
}
h3{
	margin: 3% 0 3% 8%;
	color: white;
	font-family: arial;
	font-size: 28px;
}
.tudo{
	display: flex;
	flex-direction: column;
	background: #E9EAEB;
	margin: 0 2% 0% 2%;
	border-radius: 23px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
#pedido{
	background: #E9EAEB;
	font-family: arial;
	font-weight: bold;
	margin: 0% 89.5% 0 2%;
	border: groove;
	border-top: 5px;
	border-left: 0px;
	border-right: 0px;
	font-size: 25px;
}
#image1, #image2{
	height: 22%;
	width: 12%;
	border: none;
	border-radius: 12px;
	margin-right: 2%;
}
.sin{
	display: flex;
	flex-direction: row; 
	margin: 2% 0 2% 2%;
}
.tu{
	display: flex;
	flex-direction: row;
	margin: 0% 0 2% 2%;
}

nav, h2{
	font-family: arial;
	font-weight: bold;
}
h2{
	font-size: 28px;
	margin-top: 2%;
	margin-bottom: 2%;
}
nav{
	font-size: 18px;
	margin-top: 3%;
}
#linha{
	border: solid;
	border-top: 2px;
	border-color: white;
	border-left: none;
	border-right: none;
	border-width: 1px;
	margin: 5% 0% 0% 0%;
}
h1 {
    font-size: 60px;
    color: white;
    margin-left: 2%;
    font-family: Arial, sans-serif;
    background-color: #c69d5f;
    margin: 4% 5% 3% 3%;  /* Mantém o margin como estava */
    border: none;
    border-radius: 18px;
    padding: 10px 10px;  /* Diminui o padding horizontal pela metade */
}

/*Essa é a barra de navegação*/
.dentro, .IDF{
	float: left;
	font-family: arial;
	font-size: 20px;
	color: white;
	text-align: center;
	padding: 18px 20px;
	margin: 0px;
	text-decoration: none;

}
.cima{
	background-color: #042d64;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 60px;
	position: fixed;
	width: 100%;
}
i{
	color: white;
	text-align: center;
}
.dentro:hover{
 	background-color:#DEB887;
}
.dentro a{
	color: white;
	text-decoration: none;
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.pesqui{
	margin: 0% 1% 0% 7%;
	height:25px;
	font-size: 20px;
	width: 30%;
	background-color: white;
	border-radius: 15px;
	border-color: #DEB887;
}
.butao{
	background-color: #2b4b82;
	border-color: #DEB887;
	border-radius: 20px;
	margin-left:0px;
	margin-right: 5%;
}